@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');

:root {
  --highlight: hsla(215, 88%, 60%, 0.48);
  --depth-lighter: rgba(11, 16, 27, 0.5);
  --bg: rgba(32, 33, 42);
  --bg-depth: rgb(29, 30, 39);
  --depth: rgb(11, 16, 27);
  --text: rgb(255, 255, 255);
  --border: rgb(97, 97, 97, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  font-family: 'Inter Tight', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

img {
  filter: invert(100%);
  max-height: 40px;
  margin: 10px;
}

button {
  background-color: transparent;
  border: 0;
  color: var(--text);
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.044) 0px 1px 3px, rgba(0, 0, 0, 0.13) 0px 1px 2px;
  border-radius: 8px;
}

/* header */

header {
  display: flex;
  align-items: center;
  padding: 10px 2vmin;
  background-color: var(--depth);
}

button.options {
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: var(--depth-lighter);
  border: none;
}

button.options:hover {
  filter: brightness(40%);
}

/* nav */

nav {
  display: none;

  flex-direction: column;
  gap: 5px;

  padding: 20px 3vmin;
  background-color: var(--bg-depth);
  border-bottom: 1px solid var(--border);
}

nav.visible {
  display: flex;
}

nav p {
  font-size: 1em;
}

nav div {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 3px;
}

nav div:hover {
  filter: brightness(70%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.active {
  background-color: var(--highlight);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

nav img {
  max-height: 20px;
}

/* content section */

main {
  display: grid;
  flex-grow: 1;
  grid-template-rows: auto 1fr;
}

section {
  padding: 20px 7vmin;
}

#content-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#content-header .title {
  font-size: 1.6em;
}

#content-header .title:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text);
  flex-grow: 1;
  margin-right: 10px;
}

#back-btn {
  display: none;
  align-items: center;
  font-size: 14px;
  padding: 5px 15px 7px 10px;
  border-radius: 8px;
  background-color: var(--depth-lighter);
  margin-right: 100%;
}

#back-btn.visible {
  display: flex;
}

#back-btn:hover {
  background-color: var(--depth);
  filter: brightness(70%);
}

#back-btn img {
  max-height: 20px;
  margin: 0;
}

.task-menu {
  display: none;
  margin-top: 5px;
}

.task-menu.visible {
  display: flex;
}

.task-menu button {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.9em;
}

section .btn {
  margin-left: auto;
}

.add-btn {
  padding: 0 10px;
  font-size: 2em;
}

.taskoption-btn img {
  max-height: 30px;
}

.add-btn:hover,
.taskoption-btn:hover,
.task-menu button:hover {
  background-color: var(--depth-lighter);
  filter: brightness(50%);
}
/* task-card */

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 15px 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#container img {
  max-width: 23px;
}

#container span {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}

#container span p {
  width: 100%;
  font-size: 1.5em;
}

#container span p:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text);
}

.task-card,
.proj-card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--bg);
  padding: 15px;
  border-radius: 3px;
  border: 1px solid var(--border);
  grid-gap: 5px 0;
}

.proj-card:hover {
  background-color: var(--bg-depth);
  margin-top: -5px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in;
}

.task-card button {
  color: white;
  background-color: var(--depth);
  padding: 6px 0px;
  border: 0;
  border-radius: 20px;
}

.task-card button:hover {
  filter: brightness(60%);
}

.task-name:focus-visible,
.task-date:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text);
}

.task-name,
.proj-name {
  grid-column: 1 / span 2;
  margin-bottom: 15px;

  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
}

.task-date {
  background-color: transparent;
  color: inherit;
  border: none;
  font-family: inherit;
  max-width: 100px;
  font-size: 14px;
}

.task-date,
.del-btn {
  justify-self: end;
}

.task-state,
.priority {
  justify-self: start;
  width: 90px;
  text-align: center;
}

.task-state:hover {
  background-color: var(--highlight);
}

button.del-btn {
  background-color: transparent;
  padding: 0px;
}

.del-btn:hover {
  background-color: var(--depth);
}

.del-btn img {
  max-height: 18px;
}

.proj-card .task-count {
  grid-row: 2 / span 1;
  font-size: 14px;
}

/* footer */

footer {
  font-size: 13px;
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  padding-bottom: 2%;
}

@media (min-width: 890px) {
  main {
    grid-template-columns: 330px 1fr;
  }

  header button.options {
    display: none;
  }

  nav {
    display: block;
    border: none;
    grid-row: 1 / span 2;
  }
}

/* ADDTASK FORM */

#addtask-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  grid-template-columns: auto 1fr 118px;
  grid-template-rows: 1fr 1fr auto;
  grid-gap: 10px;
  font-size: 16px;

  border-radius: 10px;
  background-color: var(--depth);
  padding: 15px;
}

#addtask-container p.add-task-title {
  width: 100%;
  margin-bottom: 10px;
}

#addtask-container input,
select:focus-visible {
  outline: none;
}

#addtask-container input,
select {
  background-color: var(--bg-depth);
  border: none;
  color: var(--text);
  padding: 10px;

  border: 1px solid var(--border);
  font-size: inherit;
}

#addtask-container select {
  border: 0;
  flex-shrink: 1;
}

#addtask-container select option {
  background-color: var(--depth);
}

#addtask-container select option:hover {
  background-color: var(--depth-lighter);
}

#addtask-container input[type='date'] {
  font-family: inherit;
  flex-grow: 1;
  border: 1px solid var(--border);
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

#name-field {
  flex-grow: 15;
}

#priority-container {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14.5px;

  border: 1px solid var(--border);
  padding-left: 10px;
}

#priority-container select {
  flex-grow: 1;
}

#addtask-btn-container {
  display: flex;
  margin-top: 10px;
  justify-self: center;
  gap: 30px;
  width: 100%;
  margin: auto;
}

#addtask-btn-container button:first-child:hover {
  background-color: var(--highlight);
}

#addtask-btn-container button:nth-child(2):hover {
  filter: brightness(80%);
  background-color: var(--bg);
}
